@import "bootstrap";

@import url("http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext");

@bodyBackground:        @grayDark;
@textColor:             @white;
@linkColor:             #aaa;
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "Bree Serif", serif;

body {
    padding: @baseLineHeight;
    /* Image credit: NASA (http://hubblesite.org/gallery/album/nebula/pr2003011a/hires/true/) */
    background: #000 url("../img/helix.jpg") 50% 0% no-repeat;
}

header {
    padding: @baseLineHeight / 2;
    font-family: @serifFontFamily;
    background: rgba(255, 255, 255, 0.1);
    border: 1px rgba(255, 255, 255, 0.4) solid;
    .border-radius(4px);
}
.level {
    padding: @baseLineHeight / 2;
    background: rgba(255, 255, 255, 0.1);
    border: 1px rgba(255, 255, 255, 0.4) solid;
    .border-radius(2px);
}
footer {
    text-align: center;
}
.sun-box {
    display: inline-block;
    margin: 2px;
    padding: 3px 5px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    .border-radius(2px);
    color: #fff;
}
.civil-twilight {
    background: #04b;
}
.nautical-twilight {
    background: #028;
}
.astronomical-twilight {
    background: #004;
}
.night {
    background-color: #000;
}
